In [1]:
a=8
print (a)

8

In [3]:
type(b)

NameError: name 'b' is not defined

In [5]:
type (69.2)

float

In [6]:
type("sixian")

str

In [7]:
5+8

13

In [8]:
a=5+8
print(a)

13

In [9]:
4*7

28

In [10]:
7/2

3.5

In [11]:
7//2

3

In [12]:
7%3

1

In [13]:
2**2

4

2***2

In [14]:
2*2

4

In [15]:
2*8

16

In [16]:
2**8

256

In [17]:
+123

123

In [18]:
-123

-123

In [19]:
5+9

14

In [20]:
a=5+9

In [21]:
a=5+9
print(a)

14

In [26]:
a=99
a
a=a+1
print(a)

100

In [30]:
x,y=divmod(9,5)
x,y

(1, 4)

In [31]:
2 + 3 *4

14

In [32]:
0b10

2

In [33]:
0a10

SyntaxError: invalid syntax (<ipython-input-33-0e0a2cde1f27>, line 1)

In [34]:
0x10

16

In [35]:
0x1

1

In [36]:
0x3

3

In [37]:
int(98.6)

98

In [38]:
int(98.3)

98

In [39]:
int(false)

NameError: name 'false' is not defined

In [40]:
int(False)

0

In [41]:
int(-12)

-12

In [42]:
int(sixian)

NameError: name 'sixian' is not defined

In [43]:
true+2

NameError: name 'true' is not defined

In [44]:
True+2

3

In [45]:
googol = 10**100

In [46]:
googol = 10**100
googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [47]:
googol * googol

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [48]:
"sixian"

'sixian'

In [50]:
ans = '''台元紡織
python'''
print (ans)

台元紡織
python

In [51]:
bottles = 100
base = ''
base += '庫存：'
base += str(bottles)
base

'庫存：100'

In [ ]:
print()

In [1]:
book = 'idwosjowjfopwejfpowejfopewjf'

In [2]:
book :

SyntaxError: invalid syntax (<ipython-input-2-4d2fc34eb47c>, line 1)

In [3]:
book

'idwosjowjfopwejfpowejfopewjf'

In [4]:
book = (a)

NameError: name 'a' is not defined

In [5]:
book[1:]

'dwosjowjfopwejfpowejfopewjf'

In [6]:
book = 天氣好喔

NameError: name '天氣好喔' is not defined

In [7]:
len(book)

28

In [8]:
book = "whih,is,book"

In [9]:
a=book.split(',')

In [10]:
a

['whih', 'is', 'book']

In [13]:
joke = 納智捷U5十月熱銷預估U6新車將為納智捷迎來更多訂真心希望納智捷的買氣延續下去，年底的購車旺季可以重振雄風，熱賣車也能帶動其他車款，納智捷全車系都賣得好才算成功。
print (joke)

SyntaxError: invalid character in identifier (<ipython-input-13-a3d94e4811da>, line 1)

In [14]:
weekdays=['一','二']
weekdays(4)

['一', '二']

In [15]:
list ('一二三四五六ㄖ')

['一', '二', '三', '四', '五', '六', 'ㄖ']

In [18]:
a_tuple = ['一','二','三']

In [19]:
type(a_tuple)

list

In [21]:
a_tuple = ('一','二','三')
type(a_tuple)

tuple

In [22]:
splitme = 'a/b//c/d//e'
splotme.split

NameError: name 'splotme' is not defined

In [24]:
splitme = 'a/b//c/d//e'
splitme.split('//')

['a/b', 'c/d', 'e']

In [27]:
weekdays=['一','二']
weekdays[4]

IndexError: list index out of range

In [28]:
weekdays=['一','二']
weekdays[1]

'二'

In [30]:
weekdays=['一','二','三','四','五']
weekdays[4]

'五'

In [32]:
weekdays=('一','二','三','四','五')
weekdays[4]='g'

TypeError: 'tuple' object does not support item assignment

In [34]:
weekdays=['一','二','三','四','五']
weekdays.append('六')
weekdays

['一', '二', '三', '四', '五', '六']

In [38]:
weekdays=['一','二','三','四','五']
weekdays.append('六')
weekdays

['一', '二', '三', '四', '五', '六']

In [39]:
weekdays=['一','二','三','四','五']
weekdays_cn = ['週一','週二']
weekdays.append(weekdays_cn)
weekdays

['一', '二', '三', '四', '五', ['週一', '週二']]

In [43]:
weekdays=['一','二','三','四','五']
weekdays.insert(4,'周吧')
weekdays

['一', '二', '三', '四', '周吧', '五']

In [45]:
weekdays=['一','二','三','四','五']
del weekdays[-1]
weekdays

['一', '二', '三', '四']

In [46]:
del weekdays[3]
weekdays

['一', '二', '三']

In [48]:
weekdays=['一','二','三','四','五']
weekdays.pop(1)

'二'

In [49]:
weekdays=['一','二','三','四','五']
weekdays.pop(0)

'一'

In [50]:
weekdays=['一','二','三','四','五']
'二' in weekdays

True

In [52]:
weekdays=['一','二','二','二','三','四','五']
weekdays.count('二')

3

In [53]:
x=('a','d','e','t','g','h','5','2d','w','f',)
sorted(x)

['2d', '5', 'a', 'd', 'e', 'f', 'g', 'h', 't', 'w']

In [54]:
x=('a','d','e','t','g','h','5','2d','w','f',)
y=sorted(x)
y

['2d', '5', 'a', 'd', 'e', 'f', 'g', 'h', 't', 'w']

In [57]:
x=['a','d','e','t','g','h','5','2d','w','f']
x.sort()
x

['2d', '5', 'a', 'd', 'e', 'f', 'g', 'h', 't', 'w']

In [59]:
y = [2,5,34,6,3]
y.sort(reverse=True)
y

[34, 6, 5, 3, 2]

In [60]:
a = [1,2,3]
a

[1, 2, 3]

In [61]:
b = a
b

[1, 2, 3]

In [62]:
a[0] = 'sixian'
a

['sixian', 2, 3]

In [63]:
b

['sixian', 2, 3]

In [64]:
a = [1,2,3]
b = a.copy
c = list(a)
d = a[:]

In [65]:
a

[1, 2, 3]

In [66]:
b

In [67]:
c

[1, 2, 3]

In [68]:
d

[1, 2, 3]

In [69]:
weekdays=['一','二','三','四','五']
weekdays

['一', '二', '三', '四', '五']

In [74]:
x1,x2,x3,x4,x5 = weekdays
x1,x2,x3,x4

('一', '二', '三', '四')

In [75]:
x1,x2,x3,x4,x5 = weekdays
x1,x2,x3,x4,x5

('一', '二', '三', '四', '五')

In [76]:
empty_dict = {"day":"123"}
type(empty_dict)

dict

In [79]:
lol = {
    '星期一':'猴子穿新衣',
    '星期二':'侯姿肚子餓',
    '星期三':'猴子去爬山',
}
lol

{'星期一': '猴子穿新衣', '星期三': '猴子去爬山', '星期二': '侯姿肚子餓'}

In [80]:
lol['星期一'] = '尼莫'
lol

{'星期一': '尼莫', '星期三': '猴子去爬山', '星期二': '侯姿肚子餓'}

In [81]:
lol['星期一'] = '尼莫'
lol['星期三'] = '柚子'
lol

{'星期一': '尼莫', '星期三': '柚子', '星期二': '侯姿肚子餓'}

In [82]:
lol['星期一'] = '尼莫'
lol['星期日'] = '柚子'
lol

{'星期一': '尼莫', '星期三': '柚子', '星期二': '侯姿肚子餓', '星期日': '柚子'}